SECRET_KEY=your-secret-key
DEBUG=True

DATABASE_URL=postgres://sama_user:sama_password@db:5432/sama_terrain

ALLOWED_HOSTS=localhost,127.0.0.1

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=ton_adresse@gmail.com
EMAIL_HOST_PASSWORD=ton_mot_de_passe_application

IDCLIENT=
IDCLIENTGOOGLESCRET=

PAYTECH_API_KEY=
PAYTECH_API_SECRET=
PAYTECH_BASE_URL=https://paytech.sn/api

N8N_WEBHOOK_URL=http://localhost:5678/webhook/sama-terrain

IA_SERVICE_URL=http://127.0.0.1:8001

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://127.0.0.1:8000

